h1 {
    color:white;
    padding: 10px;
    background-color: black;
    text-align: left;
    font-weight: bold;
    font-family: cursive;
}
.blue-text {
    color: rgb(20, 204, 236);
    background-color: black;
    text-align: left;
    font-weight: bold;
    font-family: cursive;
}
h2 {
    color: white;
    background-color: rgba(58, 3, 102, 0.671);
    text-align: center;
    font-style: italic;
    font-family: cursive;
    font-weight: normal;
}
h3 {
    color: rgb(7, 7, 54);
    background-color: rgb(0, 204, 255);
    text-align: right;
    text-decoration: underline;
    font-weight: normal;
    font-family: cursive;
}