.container{
    width: 950px;
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    padding: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: flex;
    flex-direction: column;
}
.row {
    /* TODO - what should go here? */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}