body{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 240, 237);
 }
 .container{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 240, 237);
 }
 h1{
display: flex;
flex-direction: column;
color: black;
text-align: center;
}
.block1{
display: flex;
flex-direction: column;
justify-items: center;
background-color: rgb(75, 255, 240);
height: 200px;
width: 1280px; 
padding: 10px;
margin: 10px;
}
.block2{
display: flex;
flex-direction: column;
background-color: rgb(214, 145, 183);
height: 200px;
width: 1280px;
padding: 10px;
margin: 10px;
}
.block3 {
display: flex;
flex-direction: column;
background-color: rgb(224, 210, 218);
height: 200px;
width: 1280px;
padding: 10px;
margin: 10px;
}
p {
display: flex;
flex-direction: column;
background-color: white;
color: black;
text-align: center;
}
img{
    height: 200px;
    width: 200px;
    display: flex;
    justify-items: center;
}