body{
    display: flex;
    flex-direction: column;
}
img{
    width: 200px;
    height: 200px;
    margin: 10px;   
    max-width: 100%;
}
body{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #e1fbf7;
    align-items: center;
}
.container {
    width: 50%;
    background-color: #edede9;
    display: flex;
    flex-direction: column;
    column-gap:10px ;
}
.container .top{
    height: 80px;
    border-top: 1px solid black;
}
.top h1{
    color: #364855;
    padding: 20px;
}
.main{
    display: none;
    flex-direction: column;
    column-gap: 20px;
}
.block1, .block2, .block3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    overflow: hidden;
}
.block1{
    background-color: #4ebdf6;
}
.block2{
    background-color: #d8a7b2;
}
.block3{
    background-color: #fcfcff;
}
.bottom button {
    margin-top: 10px;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    letter-spacing: 3px;
}

button:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
    letter-spacing: 3px;
}
.bottom h4{
    color: #364855;
    padding: 20px;
}
.cont{
    width: 50%;
    height: auto;
    background-color: #d8a7b2;
}
.img-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.boximg1{
    padding: 10px;
    background-color: #D8A3CA;
    justify-content: space-between;
}