.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;

}
.top-nav {
    height: 150px;
    background-color: green;
    display: block;
    margin: 10px;
    margin-bottom: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 6px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    padding: 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 10px 10px 10px 0px;
}
#advertisment {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: inline-block;
}